# DataFrames - Part 3

In [15]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [17]:
df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])

In [18]:
df

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

In [19]:
# Grab from the index on the far left
df.loc['G1']

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

In [21]:
# Return row 1 of G1 index
df.loc['G1'].loc[1]

A    0.188695
B   -0.758872
Name: 1, dtype: float64

In [22]:
# Basic idea: Call from the outside index, and continue calling the inner indexes to grab somethin deeper in the DF

In [23]:
# Show the names of the indexes
df.index.names

FrozenList([None, None])

In [27]:
# Rename indexes with format: ['outside index', 'inside index']
df.index.names = ['Groups', 'Num']

In [28]:
df

                   A         B
Groups Num
G1     1    0.188695 -0.758872
       2   -0.933237  0.955057
       3    0.190794  1.978757
G2     1    2.605967  0.683509
       2    0.302665  1.693723
       3   -1.706086 -1.159119

In [29]:
df.loc['G2'].loc[2].loc['B']

1.6937229252040349

In [30]:
df.loc['G1'].loc[3].loc['A']

0.19079432237171562

In [31]:
# Alternative to df.loc['G1]
# xs stands for cross section
df.xs('G1')

            A         B
Num
1    0.188695 -0.758872
2   -0.933237  0.955057
3    0.190794  1.978757

In [33]:
# Want all values where index = 1 (G1 row 1 and G2 row 2)
df.xs(1, level='Num')

               A         B
Groups
G1      0.188695 -0.758872
G2      2.605967  0.683509